/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v23-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v23-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v23-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v23-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/oswald-v47-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/oswald-v47-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* common */

* {
  /* примени ко всем элементам */
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: rgba(196, 196, 196, 43.86%);
}

img {
  display: block; /* убирает отступ под изображением */
  max-width: 100%;
}

.container {
  width: 1278px;
  margin: 0 auto;
}
/* header */

.header {
  background: #66d1ff;
  padding: 31px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 298px; 
  height: 53px;
  fill: none;
}

.btn-header {
  min-width: 276px;
  background-color: #ffffff;
  color: #060D10;
  border-radius: 4px;
  padding: 8px 41px;
  box-shadow: (0px 0px 3px rgba(255, 255, 255, 0.25));
}

.btn {
  text-decoration: none;
  font-size: 36px;
  line-height: 44px;
  display: inline-block;
}
.number {
  text-decoration: none;
  font-size: 28px;
  line-height: 34px;
  color: #060d10;
  font-weight: 500;
}
/* promo */

.promo {
  padding: 240px 0 260px;
  margin: 0 auto;
  text-align: center;
  background-image: url(../image/promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  text-shadow: 1px 1px 2px #060d10;
}

.promo h1 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  line-height: 89px;
}
.promo p {
  font-size: 32px;
  line-height: 39px;
}

/* features */
.features {
  padding: 170px 0px;
  text-align: center;
  display: flex;
  background: rgba(102, 209, 255, .1);
}

.features-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.features-item {
  width: 33.33%;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.features-title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 167%;
  margin: 50px 0;
}

.features-heading {
  font-family: "Oswald";
  font-size: 32px;
  line-height: 167%;
}

.features-desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
  font-size: 26px;
  line-height: 140%;
  opacity: 0.8;
}

.lead {
  padding: 170px 0px 180px;
  text-align: center;
  background: linear-gradient(208.35deg,
   rgba(102, 209, 255, .1) 43.85%,
   rgba(196, 196, 196, 0) 43.86%);
}

.btn-lead {
  min-width: 505px;
  padding: 20px 107px;
  background-color: rgba(0, 0, 0, .0);
  color: rgba(6, 13, 16, 1);
  border: 3px solid #060D10;
  box-sizing: border-box;
  border-radius: 4px;
}

.lead-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:130px 0 180px ;
  margin-left: -15px;
  margin-right: -15px;
}

.lead-img{
  width: 25%;
  padding: 15px;
  height: 100%;
}

.lead-text {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 167%;
}

/* footer */
.footer {
  background: #060d10;
  color: #ffffff;
}

.footer-wrap {
display: flex;
align-items: center;
}

.footer-social  {
  width: 41.65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copy {
  width: 58.31%;
  justify-content: flex-end;
}

.soc-link {
  font-size: 20px;
  line-height: 167%;
  margin: 40px;
}

.social-link {
  margin: 10px;
}

.copyright {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: flex-end;
}

.soc-items {
  width: 40px;
  height: 40px;
  fill: none;
}